---
---
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/tic-tac-toe" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to Tic Tac Toe...</p>
  </body>
</html>
